:root {
	--accent: #CC8869;
	--text: #333;
	--regular-text: 16px;
	--lineheight: 1.65;
	--userfont: "roboto_st", sans-serif;
	--systemfont: -apple-system, "BlinkMacSystemFont", Arial, sans-serif;
	--padding: 120px;
	--transition: cubic-bezier(.4, 0, 0, 1);
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }
